.PostCard {
  position: relative;
  display: grid;
  grid-template-columns: clamp(calc(130rem / 16), calc(150vw / 3.6), calc(150rem / 16)) auto;
  min-height: calc(200rem / 16);
  height: auto;
  gap: 0.75rem;

  @media screen and (min-width: calc(768rem / 16)) {
    grid-template-columns: 1fr;
    grid-template-rows: calc(380rem / 16) auto;
    min-height: 100%;
    gap: 1rem;
  }

  .image {
    overflow: hidden;
    img {
      height: calc(200rem / 16);
      user-select: none;
      will-change: transform;
      transform-origin: center;
      transform: scale(1);
      object-fit: cover;
      transition: transform 0.5s var(--easing);

      @media screen and (min-width: calc(768rem / 16)) {
        height: 100%;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: calc(768rem / 16)) {
      justify-content: flex-start;
    }

    .subtitle {
      margin-bottom: calc(12rem / 16);
      color: var(--primary-600);
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      justify-content: space-between;
      font-size: calc(12rem / 16);
      letter-spacing: 0.04em;
      user-select: none;

      @media screen and (min-width: calc(768rem / 16)) {
        font-size: 1rem;
        line-height: 1.42;
        letter-spacing: calc(0.72rem / 16);
      }
    }

    h2 strong {
      font-weight: 500;
    }

    .categoryLink {
      z-index: 3;
      align-self: flex-start;
      @media screen and (min-width: calc(768rem / 16)) {
        margin-top: 1rem;
      }
    }
  }

  .link {
    position: absolute;
    inset: 0;
    z-index: 2;

    &:hover + .image img {
      transform: scale(1.04);

      @media (prefers-reduced-motion: reduce) {
        transform: none;
      }
    }
  }
}
