.NotFoundSection {
  display: grid;
  gap: clamp(48px, calc(64vw / 7.68), 80px);

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;

    @media screen and (min-width: 1083px) {
      gap: 4px;

      a {
        margin-top: 48px;
      }
    }

    h1,
    h2 {
      width: 100%;
      max-width: 756px;
    }
  }

  .images {
    display: flex;
    justify-content: flex-end;
    gap: clamp(16.78px, calc(24vw / 7.68), 31.95px);

    img {
      width: clamp(120px, calc(236vw / 7.68), 294px);
    }
  }
}
