.SliderControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .button {
    width: calc(44rem / 16);
    height: calc(44rem / 16);
    display: grid;
    place-items: center;

    svg {
      fill: var(--primary-600);
      transition: fill 0.2s var(--easing);
    }

    &:focus-visible {
      outline-offset: -1px;
    }

    &:hover svg {
      fill: var(--primary-900);
    }
  }

  .dots {
    display: flex;

    button {
      height: 16px;
      display: flex;
      align-items: flex-end;
      padding-inline: 8px;

      &:hover span {
        border-color: var(--primary-900);
      }

      span {
        height: 8px;
        border: 1px solid var(--primary-500);
        transition: border-color 0.1s var(--easing);
      }

      &[aria-current='true'] span {
        height: 16px;
        border-color: var(--primary-900);
      }
    }
  }
}
