.ListWithContent {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;

  @media screen and (min-width: 1200px) {
    gap: 36px;
  }

  .header {
    width: min(100%, 410px);
    display: grid;
    justify-items: start;
    gap: clamp(16px, calc(24vw / 7.68), 36px);

    @media screen and (min-width: 1200px) {
      width: 295px;
      position: sticky;
      top: var(--sticky-top);
    }
  }
}

.list {
  width: 100%;
  display: grid;
  gap: clamp(32px, calc(48vw / 7.68), 80px);

  @media screen and (min-width: 1200px) {
    width: auto;
    min-width: 757px;
  }

  li {
    display: grid;
    gap: clamp(8px, calc(12vw / 7.68), 16px);

    h3 {
      margin-top: -4px;
      word-break: break-word;

      @media screen and (min-width: 768px) {
        padding-right: 26px;
      }

      @media screen and (min-width: 1200px) {
        padding-right: 0;
      }
    }

    p {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 649px;
      }
    }
  }
}
