.StatsSection {
  display: grid;
  justify-items: center;
  gap: clamp(calc(48rem / 16), calc(80vw / 7.68), calc(128rem / 16));

  header {
    width: 100%;
    max-width: calc(1053rem / 16);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(20rem / 16);

    h1,
    h2 {
      width: 100%;
      max-width: calc(295rem / 16);

      @media screen and (min-width: calc(1060rem / 16)) {
        padding-top: calc(12rem / 16);
      }
    }

    .text {
      width: 100%;
      max-width: calc(585rem / 16);
      display: grid;
      gap: clamp(1rem, calc(16vw / 7.68), calc(28rem / 16));

      @media screen and (min-width: calc(768rem / 16)) {
        width: clamp(calc(585rem / 16), calc(585vw / 7.68), calc(649rem / 16));
      }
    }
  }

  .numbers {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(calc(24rem / 16), calc(24vw / 7.68), calc(32rem / 16));
    justify-self: stretch;

    @media screen and (min-width: calc(768rem / 16)) {
      grid-template-columns: repeat(3, 1fr);
    }

    li {
      display: grid;
      gap: clamp(calc(12rem / 16), calc(20vw / 7.68), calc(36rem / 16));

      @media screen and (min-width: calc(1366rem / 16)) {
        gap: calc(36rem / 16);
      }

      span:first-child {
        word-break: break-all;
      }
    }
  }
}
