.progress-bar-section {
  position: relative;
}

.sticky {
  --sticky-top: clamp(90px, calc(98vw / 7.68), 100px);

  position: sticky;
  top: var(--sticky-top);
  display: flex;
  flex-direction: column;
  /* position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; */
}

.header {
  position: relative;
  margin-bottom: clamp(48px, calc(80vw / 7.68), 80px);
}

.header :where(h1, h2) {
  display: grid;
  gap: clamp(8px, calc(16vw / 7.68), 32px);
}

.header :where(h1, h2) span:last-child {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, calc(16vw / 7.68), 32px);
}

.header img {
  width: min(100%, 343px);
  height: 95px;
}

.points {
  position: relative;
  width: max-content;
  display: flex;
  align-items: flex-start;
  gap: clamp(24px, calc(32vw / 7.68), 32px);
}

.points li {
  display: grid;
  justify-items: start;
  gap: clamp(16px, calc(28vw / 7.68), 28px);
}

.points li span {
  color: var(--primary-900);
}

.points li p {
  width: clamp(258px, calc(322vw / 7.68), 402px);
}

.progress {
  margin-top: clamp(48px, calc(64vw / 7.68), 96px);
  align-self: center;
  display: inline-flex;
  align-items: flex-end;
  justify-content: space-between;
  width: clamp(320px, calc(610vw / 7.68), 610px);
}

.progress > * {
  margin-right: -4px;
}

.step {
  display: flex;
  width: 20px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.value {
  color: var(--primary-900, #141414);
  font-size: 12px;
  line-height: 142%;
  letter-spacing: 0.48px;
}

.step span:last-child {
  transition: all 0.1s;
  height: 12px;
  box-shadow: 0 0 0 0.5px var(--primary-700);
}

.step span.active {
  box-shadow: 0 0 0 1.5px var(--primary-900);
}

.lines {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.lines span {
  transition: all 0.1s;
  height: 5px;
  box-shadow: 0 0 0 0.5px var(--primary-500);
}

.lines span.active {
  box-shadow: 0 0 0 1.5px var(--primary-900);
}

@media screen and (min-width: 768px) {
  .header img {
    width: calc(343vw / 7.68);
    height: 99px;
  }

  .points {
    padding-left: calc(88vw / 7.68);
  }

  .lines {
    gap: 7px;
  }

  .progress > * {
    margin-right: 0;
  }
}

@media screen and (min-width: 1366px) {
  .header :where(h1, h2) {
    gap: 32px;
  }

  .header :where(h1, h2) span:last-child {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .header img {
    width: 619px;
    height: 144px;
  }

  .points {
    padding-left: 218px;
  }
}
