.InlineImageHeader {
  margin-bottom: clamp(calc(48rem / 16), calc(80vw / 7.68), calc(80rem / 16));

  @media screen and (min-width: calc(1366rem / 16)) {
    margin-bottom: calc(72rem / 16);
  }

  h1,
  h2 {
    display: grid;
    gap: calc(2rem / 16);

    @media screen and (min-width: calc(500rem / 16)) {
      gap: calc(12rem / 16);
    }

    span:first-child {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: clamp(calc(8rem / 16), calc(16vw / 7.68), calc(28rem / 16));
    }

    span:last-child {
      word-break: break-all;
    }

    img {
      width: clamp(calc(156rem / 16), calc(237vw / 7.68), calc(295rem / 16));
    }
  }
}
