.NextBlogPost {
  text-align: center;
  max-width: calc(1049rem / 16);
  margin-inline: auto;

  header {
    margin-bottom: clamp(1.5rem, calc(32vw / 7.68), 2rem);
  }

  .content {
    position: relative;

    h3 {
      margin-bottom: clamp(4rem, calc(96vw / 7.68), 6rem);
    }

    .image {
      display: inline-block;
      overflow: hidden;

      img {
        width: clamp(188px, calc(318vw / 7.68), 318px);
        max-height: clamp(243px, calc(411vw / 7.68), 411px);
        user-select: none;
        will-change: transform;
        transform-origin: center;
        transform: scale(1);
        transition: transform 0.5s var(--easing);

        @media screen and (min-width: calc(1360rem / 16)) {
          width: calc(294rem / 16);
          max-height: 380px;
        }
      }
    }

    .link {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &:hover ~ .image img {
        transform: scale(1.04);
        @media (prefers-reduced-motion: reduce) {
          transform: none;
        }
      }
    }
  }
}
