.FeaturedPostsSection {
  display: grid;
  gap: clamp(calc(20rem / 16), calc(36vw / 7.68), calc(48rem / 16));
  overflow: hidden;
}

.container {
  --slide-spacing: clamp(1rem, calc(24vw / 7.68), calc(32rem / 16));
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);

  .slide {
    --slide-size: min(100%, calc(calc(672rem / 16) + var(--slide-spacing)));
    --slide-height: clamp(calc(255rem / 16), calc(523vw / 7.68), calc(523rem / 16));
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
    overflow: hidden;
    min-width: 0;

    @media screen and (min-width: calc(1270rem / 16)) {
      --slide-size: min(calc(433vw / 13.66), calc(433rem / 16));
      --slide-height: calc(450rem / 16);
    }

    &:focus-visible {
      outline: none;
      img {
        border: 2px solid var(--primary-600);
      }
    }

    img {
      width: 100%;
      object-position: top;
      height: var(--slide-height);
      user-select: none;
      pointer-events: none;
    }
  }
}

.controls {
  display: grid;
  place-items: center;

  > div {
    max-width: calc(324rem / 16);
  }
}
