.RadioGroup {
  position: relative;

  > p {
    transition: color 0.1s var(--easing);
  }

  .error {
    display: flex;
    align-items: center;
    gap: calc(6rem / 16);
    position: absolute;
    top: calc(100% + calc(10rem / 16));
  }

  .options {
    margin-top: calc(12rem / 16);
    display: flex;
    flex-wrap: wrap;
    gap: clamp(calc(8rem / 16), calc(12vw / 7.68), calc(12rem / 16));

    label {
      position: relative;

      input {
        position: absolute;
        opacity: 0;
      }

      &:has(input:focus),
      &:has(input:focus-visible) {
        outline: 1px solid var(--primary-500);
        outline-offset: 0px;
        input {
          outline: none;
        }
      }
    }
  }

  &[aria-invalid='true'] > p {
    color: var(--error);
  }

  &:has(input:disabled) > p {
    color: var(--primary-500);
  }
}
