.RadioGroup {
  position: relative;
  .options {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: clamp(8px, calc(12vw / 7.68), 12px);
    label {
      position: relative;

      input {
        position: absolute;
        opacity: 0;
      }
    }
  }

  .error {
    display: flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    top: calc(100% + 10px);
  }

  &[aria-invalid='true'] {
    p {
      transition: color 0.1s var(--easing);
      color: var(--error);
    }
  }

  &:has(input:disabled) {
    p {
      color: var(--primary-500);
    }
  }
}
