.CustomLink {
  text-transform: uppercase;
  color: var(--primary-900);
  padding-bottom: 4px;
  border-bottom: 1px solid currentColor;
  display: flex;
  align-items: center;
  gap: clamp(4px, calc(8vw / 7.68), 8px);

  &:hover .icon {
    transform: translate(2px, -2px) scale(1.02);
  }

  .icon {
    fill: currentColor;
    transition: transform 0.15s var(--easing);

    @media screen and (min-width: 768px) {
      width: 12px;
      height: 12px;
    }
  }
}
