.simple-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: clamp(32px, calc(48vw / 7.68), 48px);
}

.header {
  margin-bottom: clamp(8px, calc(8vw / 3.6), 12px);
}

.list {
  display: grid;
  gap: clamp(20px, calc(20vw / 7.68), 24px);
}

.list li {
  display: flex;
  align-items: flex-start;
}

.list li span:first-child {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.list li span:first-child:has(strong) {
  text-decoration-thickness: 3px;
}

.list li span:last-child {
  padding-top: 8px;
}

.image {
  width: clamp(156px, calc(319vw / 7.68), 434px);
}

@media screen and (min-width: 768px) {
  .list li span:first-child {
    text-underline-offset: 13px;
  }

  .list li span:last-child {
    padding-top: 24px;
  }
}

@media screen and (min-width: 1366px) {
  .simple-list {
    gap: 0;
  }
}
