.PricesSection {
  position: relative;

  .header {
    margin-bottom: clamp(64px, calc(80vw / 7.68), 128px);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: clamp(12px, calc(20vw / 7.68), 20px);

    @media screen and (min-width: 768px) {
      width: calc(585vw / 7.68);

      p {
        width: min(100%, 649px);
      }
    }

    @media screen and (min-width: 1366px) {
      width: 1054px;
    }

    h1,
    h2 {
      max-width: 295px;
    }
  }

  .img {
    position: absolute;
    transform: rotate(-27.85deg);
    width: 113px;
    height: 147px;
    top: 130px;
    right: -35px;

    @media screen and (min-width: 768px) {
      width: 138px;
      height: 180px;
      top: 350px;
      right: calc(60vw / 7.68);
    }

    @media screen and (min-width: 1366px) {
      left: 415px;
    }
  }
}

.list {
  display: grid;
  gap: clamp(48px, calc(64vw / 7.68), 64px);

  .listItem {
    display: grid;
    align-items: start;
    gap: clamp(12px, calc(16vw / 7.68), 32px);

    @media screen and (min-width: 1366px) {
      grid-template-columns: 618px auto;
      gap: 32px;
    }

    header span {
      display: block;
      margin-bottom: -4px;
    }

    .content {
      max-width: 585px;
      display: grid;
      gap: clamp(8px, calc(12vw / 7.68), 16px);

      @media screen and (min-width: 1366px) {
        max-width: 100%;
        padding-top: 28px;
      }

      .info,
      ul {
        display: grid;
        gap: 6px;
      }
    }
  }
}
