.button {
  width: 100%;
  position: relative;
  font-size: 14px;
}

.icon {
  z-index: 2;
  position: absolute;
  background-color: var(--primary-200);
  box-shadow: inset 0 0 0 1px var(--primary-200);
  width: 44px;
  height: 44px;
  padding: 8px 12px 9px;
  left: 0;

  display: grid;
  place-items: center;

  transition: all 0.4s;
}

.icon svg {
  fill: var(--primary-600);
  transition: all 0.4s;
}

.text {
  display: block;
  color: var(--primary-900);
  background-color: var(--primary-100);
  box-shadow: inset 0 0 0 1px var(--primary-200);
  margin-left: 44px;
  height: 44px;
  padding: 12px 24px 14px 20px;
  display: grid;
  place-items: center;

  transition: all 0.4s;
}

.button:hover .icon {
  background-color: var(--primary-100);
  left: calc(100% - 44px);
}

.button:hover .icon svg {
  fill: var(--primary-200);
}

.button:hover .text {
  background-color: var(--primary-200);
  transform: translateX(-44px);
}

.button:active .icon svg {
  fill: var(--primary-600);
}

.button:focus-visible {
  outline: 1px solid var(--primary-700);
  outline-offset: 0;
}

@media screen and (min-width: 768px) {
  .button {
    width: fit-content;
    font-size: 18px;
  }

  .text {
    padding: 8px 24px 10px 20px;
  }
}
