.StationaryOfferSection {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: clamp(24px, calc(32vw / 7.68), 32px);

  .sideImg {
    width: clamp(155px, calc(236vw / 7.68), 404px);
    @media screen and (min-width: 1236px) {
      position: sticky;
      top: var(--sticky-top);
    }
  }

  .container {
    display: grid;
    gap: clamp(48px, calc(80vw / 7.68), 129px);

    @media screen and (min-width: 1236px) {
      padding-top: 80px;
    }

    header {
      display: grid;
      gap: clamp(16px, calc(20vw / 7.68), 32px);

      h1,
      h2 {
        max-width: 728px;
      }
    }

    .content {
      display: grid;
      gap: clamp(8px, calc(12vw / 7.68), 16px);
      color: var(--primary-600);

      @media screen and (min-width: 768px) {
        width: min(calc(585vw / 7.68), 610px);
      }

      strong {
        font-weight: 500;
        color: var(--primary-700);
      }

      ul {
        display: grid;
        gap: 6px;
      }
    }
  }
}
