.FullWidthImage {
  margin-bottom: clamp(5rem, calc(96vw / 7.68), 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    max-width: 100%;
    max-height: 523px;
    width: auto;
    height: auto;
  }
}
