.ImageSlider {
  display: grid;
  gap: clamp(24px, calc(32vw / 7.68), 48px);
  overflow: hidden;
  margin-bottom: clamp(64px, calc(80vw / 7.68), 141px);

  @media screen and (min-width: 1415px) {
    max-width: 1270px;
    margin-inline: auto;
  }

  .wrapper {
    cursor: none;
  }

  .container {
    --slide-spacing: clamp(12px, calc(24vw / 7.68), 32px);
    display: flex;
    align-items: flex-start;
    touch-action: pan-y pinch-zoom;
  }

  .slide {
    --slide-size: 100%;
    --slide-height: auto;
    transform: translate3d(0, 0, 0);
    flex: 0 0 calc(var(--slide-spacing) + var(--slide-size));
    padding-inline: calc(var(--slide-spacing) / 2);
    min-width: 0;

    img {
      min-height: var(--slide-height);
    }

    &:nth-child(5n + 2),
    &:nth-child(5n + 4) {
      --slide-size: clamp(93px, calc(175vw / 7.68), 335px);
      --slide-height: 60px;

      @media screen and (min-width: 1000px) {
        --slide-size: min(calc(335vw / 13.66), 335px);
      }
    }

    &:nth-child(5n + 1),
    &:nth-child(5n + 3) {
      --slide-size: clamp(112px, calc(210vw / 7.68), 402px);
      --slide-height: 173px;

      @media screen and (min-width: 1000px) {
        --slide-size: min(calc(402vw / 13.66), 402px);
      }
    }

    &:nth-child(5n + 5) {
      --slide-size: clamp(60px, calc(113vw / 7.68), 217px);
      --slide-height: 93px;

      @media screen and (min-width: 1000px) {
        --slide-size: min(calc(217vw / 13.66), 217px);
      }
    }
  }
}

.controls {
  display: grid;
  place-items: center;

  > div {
    max-width: 284px;
  }
}
